{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
<h1 class="mt-5">Admins of Stabil Project</h1>

{# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<table class="table table-striped table-dark mt-5 text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">ApiKey</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for admin in admins %}
      <tr>
        <td>{{ admin.id}}</td>
        <td><a href="{{ path('admin', {id: admin.id}) }}">{{ admin.username}}</a></td>
        <td>{{ admin.email}}</td>
        <td>{{ admin.apikey}}</td>
        <td>
          <button type="button" class="btn btn-warning mr-2">Block</button>
          <button type="button" class="btn btn-success mr-2">Modify</button>
          <a href="{{ path('remove', {id: admin.id}) }}" type="button" class="btn btn-danger mr-2">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
